/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

:root{
  --open-sans: 'Open Sans', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --main-theme: #F3F2EF;
  --main-white: #ffffff;
  --gray: #8c8c8c;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
